- classTablePrefix = "mdl-data-table" 
table#result_list(class="#{classTablePrefix}")
  thead
    tr
      th
        label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect #{classTablePrefix}__select", for="table-header")
          input(type="checkbox", id="table-header", class="mdl-checkbox__input")
      th(class="#{classTablePrefix}__cell--non-numeric") Preview
      th(class="#{classTablePrefix}__cell--non-numeric") SongName
      th Duration
  tbody

script(id="tplSong", type='text/template')
  - classTablePrefix = "mdl-data-table" 
  tr
      td
          label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect #{classTablePrefix}__select")
              input(type="checkbox", id="row[]" class="mdl-checkbox__input")
      td(class="#{classTablePrefix}__cell--non-numeric")
          img(src="{{thumbnail}}", alt="{{title}}", style="width: 124.44px;height: 70px;")
      td(class="#{classTablePrefix}__cell--non-numeric") {{title}}
      td 0:00